.main {
	display: flex;
	margin: 3% 1%;
	position: relative;
	flex-wrap: wrap;
	max-height: 50rem;
}

.data {
	flex-direction: column;
	display: flex;
	flex: 1;
	max-height: 46rem;
	margin: 0 6rem 0 0;

	& span {
		text-decoration: underline;
		color: var(--midRed);
	}

	& mat-card-title {
		text-transform: capitalize;
		margin: 0 0 2rem 0;
	}

	& .docdata {
		justify-content: flex-start;
		align-items: center;
		display: flex;
		margin-bottom: 0;

		& h3 {
			text-transform: capitalize;
			font-weight: bold;
			padding: 0 1rem 0 0;
		}
	}

	& .nome>p {
		text-transform: capitalize;
	}
}

mat-card-actions{
	display: flex;
	flex-direction: row;
	align-items: center;
	& button{
		box-shadow: 0 0 0.5rem var(--myLogo);
		border: 1px solid var(--myBlack);
		background: var(--myPurple);
		border-radius: 5px;
		padding: 0.2rem;
		margin: 0 10%;
		flex: 1;
	}
	& fa-icon,.material-icons{
		color: var(--myBlack);
		margin: auto;
	}
}

.btnComponent {
	position: relative;
	transition: all 0.5 ease-in-out;
}

.btnComponent::after {
	visibility: hidden;
	content: attr(changeCompo);
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
	position: absolute;
	width: 100px;
	border: 1px solid var(--myBlack);
	top: 110%;
	left: 0;
	background: var(--myGray);
	color: black;
	opacity: 0;
	z-index: 2;
}

.btnComponent:hover::after {
	opacity: 1;
	visibility: visible;
}

app-consulta{
	flex: 4;
}

app-calendar{
	flex: 4;
}

@media (max-width: 900px) {
	.main::-webkit-scrollbar{
		// height: 0.2rem;
	}
	.data {
		margin: 0 5rem 5rem 0;
	}
}
