<div class="card">
	<h1>Dados do paciente {{nome}}</h1>
	<div class="data">
		<h3>
			nome:
		</h3>
		<h4>
			{{nome}}
		</h4>
	</div>
	<div class="data">
		<h3>
			telefone:
		</h3>
		<h4>
			{{telefone}}
		</h4>
	</div>
	<div class="data">
		<h3>
			email:
		</h3>
		<h4>
			{{email}}
		</h4>
	</div>
	<div class="data">
		<h3>
			data agendada:
		</h3>
		<h4>
			{{agenda}}
		</h4>
	</div>
		<div class="data">
			<h3>
				Prioridade
			</h3>
			<h4>
				{{prioridade}}
			</h4>
		</div>
	<p>*para alterar a data necessario ir para as consultas</p>
</div>
