<div class="card">
	<form class="cadastro-form" #usuario="ngForm">
		<h1>{{nome}}</h1>
		<mat-form-field appearance="fill">
			<mat-label>nome</mat-label>
			<input type="text" matInput disabled="{{check}}" placeholder="{{nome}}" name="nome" ngModel>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>telefone</mat-label>
			<input type="text" matInput disabled="{{check}}" placeholder="{{telefone}}" name="telefone" ngModel>
		</mat-form-field>
		<mat-form-field class="email" appearance="fill">
			<mat-label>email</mat-label>
			<input type="text" matInput disabled="{{check}}" placeholder="{{email}}" name="email" ngModel>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>crm</mat-label>
			<input type="text" matInput disabled="{{check}}" placeholder="{{crm}}" name="crm" ngModel>
		</mat-form-field>
		<mat-form-field class="email" appearance="fill">
			<mat-label>email</mat-label>
			<input type="text" matInput disabled="{{check}}" placeholder="{{especialidade}}" name="especialidade" ngModel>
		</mat-form-field>
		<mat-form-field floatLabel="auto" appearance="fill">
			<mat-label>senha</mat-label>
			<input matInput [type]="showPassword ? 'text' : 'password'" value="{{senha}}" formControlName="senha" name="senha"
				[disabled]="checks">
			<button mat-button matSuffix (click)="showPassword=!showPassword" [disabled]="checks">
				<span class="material-icons">{{showPassword? "visibility_off":"visibility"}}</span>
			</button>
		</mat-form-field>
		<div class="btns">
			<mat-checkbox color="primary" (change)="enableInputs()">
				Alterar Usuario?
			</mat-checkbox>
			<button type="submit" mat-button (click)="atualizar(usuario)">
				enviar
			</button>
		</div>
	</form>
	<div class="delete">
		<button mat-button (click)="delete()">
			deletar
		</button>
	</div>
</div>
