mat-form-field {
	border-radius: 5px;
	margin: 5% 0;

	& mat-label {
		letter-spacing: 0.1rem;
		font-weight: bold;
	}

	& mat-select {
		text-transform: uppercase !important;
		color: var(--myBlack) !important;
		font-weight: 500;
		letter-spacing: 0.1rem;
	}
}

mat-panel-title {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: bold;
}

mat-panel-description {
	text-decoration: underline;
	color: var(--midRed);
}

.card {
	box-shadow: 0 0 2rem var(--myPurpleShadow);
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
	padding: 2rem;
	display: flex;
	margin: 5% 3%;
	flex-wrap: wrap;

	& form {
		margin: 0 2%;
		display: flex;
		flex-direction: column;
		flex: 1.5;

		& mat-card-subtitle {
			letter-spacing: 0.5px;
			color: var(--midRed);
			font-weight: 600;
			white-space: nowrap;

		}

		& h2 {
			font-style: italic;
			color: var(--myBlack);
		}

		.agenda {
			display: flex;
			flex-direction: column;
			margin: 0 0 2rem 0;
		}

		& button {
			box-shadow: 0 0 1rem var(--myPurpleShadow);
			border: 2px solid var(--myWhite);
			background: var(--myPurple);
			text-transform: uppercase;
			letter-spacing: 0.1rem;
			font-weight: 500;
			color: var(--myBlack);
			transition: all 0.5s ease-in-out;
		}

		button:hover {
			box-shadow: 0 0rem 0.5rem var(--myLogo);
		}
	}
}

.card:hover {
	box-shadow: 0 0 1rem var(--myLogo);
}

.field {
	display: flex;
	align-items: center;

	& label {
		text-decoration: underline;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		margin: 0 0 0 1rem;
		font-weight: bold;
		white-space: nowrap;
	}
}

.option {
	background: var(--myWhite);
	color: var(--myBlack);
	font-weight: 500;
	text-transform: uppercase;
}

.option:hover {
	background: var(--myBlack);
	color: var(--myWhite);
}

.option.mat-selected {
	background-color: var(--myWhite) !important;
	color: var(--myLogo) !important;
}

.agendadas {
	flex-direction: column;
	display: flex;
	flex: 3;
	position: relative;
	min-width: 15rem;
	max-height: 30rem;
	margin: 0 5%;

	& mat-accordion {
		box-shadow: 0 0 0.5rem var(--myPurpleShadow);
		border-radius: 5px;
		position: relative;
		overflow: auto;
	}

	& mat-expansion-panel-header {
		box-shadow: 0 -.2rem 0.5rem 0.5rem var(--myPurpleShadow);
	}

	& table {
		position: relative;
		width: 100%;
		margin: 2% 0;
	}

	& th {
		flex: 1;
		text-transform: uppercase;
		font-weight: bold;
		align-items: center;
	}

	& .icon {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: var(--midRed);
		text-transform: uppercase;
		cursor: pointer;
		border-radius: 5px;
		border: 1px solid var(--midRed);
		transition: all 0.5s ease-in-out;
	}

	& .material-icons {
		border-radius: 60%;
		cursor: pointer;
	}

	& .icon:hover {
		background: var(--midRed);
		color: var(--myWhite);
		border: 1px solid var(--myPurpleShadow);
	}
}

@media (max-width:950px) {
	.card {
		& button {
			margin: 5% 0;
		}
	}

	.agendadas {
		display: flex;
		position: relative;
		margin: 0 1%;
	}

	mat-accordion {
		width: 100%;
	}

	mat-expansion-panel-header {
		padding: 2rem 1rem;
	}

	table {
		display: flex;
		flex-direction: column;
		overflow-x: auto;
		position: relative;
		padding: 1rem 0;
	}

	table::-webkit-scrollbar {
		height: 0.3rem;
	}

	td,
	th {
		white-space: normal;
		word-wrap: break-word;
		// max-width: 100%;
		margin-left: 50%;
		text-overflow: ellipsis;
		flex: 1;
	}
	.icon{
		visibility: hidden;
	}
	.material-icons{
		visibility: visible;
		margin-left: 50%;
		transition: all 0.5s ease-in-out;
	}
	.material-icons:hover{
		box-shadow: inset 0 0 2rem var(--midRed);
	}
}
