<div class="card">
	<form #agenda="ngForm" (ngSubmit)="agendar(agenda)">
		<mat-card class="agenda">
			<div class="field">
				<mat-form-field appearance="fill" [(value)]="data">
					<mat-label>agenda</mat-label>
					<input type="datetime-local" matInput name="data" ngModel (ngModelChange)="showData($event)" id="data">
				</mat-form-field>
				<label>{{selectDate | date: "dd/MM/yyyy HH:mm"}}</label>
			</div>
			<!--  -->
			<div class="field">
				<mat-form-field appearance="fill">
					<mat-label>especialidade</mat-label>
					<mat-select name="especialidade" ngModel [(value)]="especial"
						(valueChange)="selectEspecialidade(especial)">
						<mat-option class="option" *ngFor="let espe of especialidades" [value]="espe.id">
							{{espe.especialidade}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<label>
					<a href="https://www.google.com/search?q=o+que+faz+medico+{{espe}}" target="_blank">{{espe}}</a>
				</label>
			</div>
			<!--  -->
			<div class="field">
				<mat-form-field appearance="fill">
					<mat-label>nome</mat-label>
					<mat-select name="nome" [(value)]="medico" ngModel (valueChange)="selectMedico(medico)">
						<mat-option class="option" *ngFor="let espe of medicos" [value]="espe.id">
							{{espe.nome}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<label>{{doc}}</label>
			</div>
			<mat-card-subtitle>
				verificar as informações acima antes de confirmar!
			</mat-card-subtitle>
		</mat-card>
		<button [ngClass]="'isDisabled()' ? 'disabled': 'false'" mat-button type="submit" [disabled]="disabled">
			confirmar agendamento?
		</button>
	</form>
	<mat-card class="agendadas">
		<mat-accordion>
			<mat-expansion-panel hideToggle>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Consultas Agendadas
					</mat-panel-title>
					<mat-panel-description>
						apos cancelar pode demorar ao menos 10 minutos para confirmar!
					</mat-panel-description>
				</mat-expansion-panel-header>
				<table recycleRows mat-table [dataSource]="agendamentos" matSort> 

					<ng-container matColumnDef="nome">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> medico </th>
						<td mat-cell *matCellDef="let data"> {{data.nomeMedico}} </td>
					</ng-container>

					<ng-container matColumnDef="email">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
						<td mat-cell *matCellDef="let data"> {{data.emailMedico}} </td>
					</ng-container>

					<ng-container matColumnDef="especialidade">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> especialidade </th>
						<td mat-cell *matCellDef="let data"> {{data.especialidadeMedico}} </td>
					</ng-container>

					<ng-container matColumnDef="agenda">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Consulta </th>
						<td mat-cell *matCellDef="let data"> {{data.agenda}} </td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> cancelar </th>
						<td mat-cell *matCellDef="let data">
							<span class="icon">
								<span class="material-icons" mat-button (click)="cancelarConsulta(data)">
									cancel
								</span>
								cancelar
							</span>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

					<tr class="mat-row" *matNoDataRow>
					</tr>
				</table>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card>
</div>
