.conteudo-about {
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	margin: 5%;

	& p {
		text-align: left;
		text-justify: auto;
		font-size: large;
		line-height: 1.8rem;
	}

	& label {
		flex-direction: column;
		display: flex;
		margin: 0 40%;
	}

	& img {
		height: 15rem;
		width: 15rem;
	}
}