<mat-card class="conteudo-about">
	<h2>Sobre:</h2>
	<p>
		A Origami Saúde é um sistema de agendamento de consultas para clinicas médicas.
		A nossa missão é facilitar e agilizar a rotina do paciente através de um sistema simplificado, ágil e eficaz.
	</p>

	<p> Trabalhamos para que o paciente desfrute de uma experiencia agradável e encontre o melhor especialista para
		auxilia-lo
		em seu tratamento.
	</p>
	<p> Ajudamos médicos a gerenciar sua agenda com dias e horarios adequados com a sua disponibilidade.
	</p>
	<p>
		A nossa solução online de agendamento tem como objetivo relacionar médicos e pacientes de forma pratica, e assim
		tornar
		a experiencia dos pacientes cada vez mais humanizada.
	</p>
	<label>
		<img
		src="https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Ffelipeb26.github.io%2Ffront_a3%2F&chs=180x180&choe=UTF-8&chld=L|2"
		alt="qr code do site">
		compartilhe o site com seus amigos e parentes tambem!
	</label>
</mat-card>
