footer {
	box-shadow: inset 0 0 1rem var(--myPurpleShadow);
	background: var(--myPurple);
	margin: auto;
	padding: 1rem 0;
}

.footers {
	padding: 0 4%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.footerCol {
	width: 25%;

	& h4 {
		font-size: 1.2rem;
		color: var(--myBlack);
		position: relative;
		text-transform: capitalize;
	}

	& li>a {
		transition: all 0.3s ease-in-out;
		text-transform: capitalize;
		color: var(--myBlack);
		padding: 0.3rem;
		display: block;
		position: relative;
		letter-spacing: 0.1rem;
		font-size: 0.9rem;
		font-style: italic;
		font-weight: 200;
		font-weight: bold;
	}

	& li>a:hover {
		color: var(--myLogo);
		padding-left: 0.8rem;
		text-decoration: underline;
	}
}

.mail {
	& form {
		display: flex;
		margin: 0 0 0.5rem 0;
		flex-direction: column;
		padding: 1rem;
		align-items: flex-start;
	}

	& form>button {
		box-shadow: 0 0 1rem var(--myPurpleShadow);
		border: 1px solid var(--myBlack);
		background: var(--myPurpleShadow);
		color: var(--myBlack);
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1rem;
		letter-spacing: 0.1rem;
		margin: 0.5rem 0 0 0;
	}

	& form>button:hover {
		box-shadow: 0 0 0.8rem var(--myBlack);
	}

}

.option {
	font-weight: 500;
	text-transform: uppercase;
}

.redes {
	display: flex;
	flex-direction: column;

	& a {
		border-radius: 1.6rem 1.3rem 1.3rem 1.6rem;
		transition: all 0.5s ease-in-out;
		text-transform: capitalize;
		letter-spacing: 0.1rem;
		font: 1rem bold;
		color: var(--myBlack);
		margin: 0.3rem 0;
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: left;
		cursor: pointer;
	}

	& span {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0.4rem 0 0;
		height: 2.4rem;
		width: 2.4rem;
		border-radius: 60%;
		background-color: var(--myWhite);
		transition: all 0.5s ease-in-out;
	}

	.linkedin {
		& span {
			padding: 1.4rem;
			color: var(--iconBlue);
		}

		overflow: hidden;
		background: var(--myWhite);
		border: 0.5px solid var(--myBlack);
		transition: all 0.5s ease-in-out;
		text-transform: uppercase;
		font-weight: bold;
		color: var(--myBlack);
	}

	.mailIcon {
		& span {
			padding: 1.4rem;
			color: var(--iconRed);
		}

		background: var(--myWhite);
		border: 0.5px solid var(--myBlack);
		transition: all 0.5s ease-in-out;
		text-transform: uppercase;
		font-weight: bold;
		color: var(--myBlack);
	}

	.github {
		& span {
			padding: 1.4rem;
			color: var(--myBlack);
		}

		background: var(--myWhite);
		border: 0.5px solid var(--myBlack);
		transition: all 0.5s ease-in-out;
		text-transform: uppercase;
		font-weight: bold;
		color: var(--myBlack);
	}

	& .linkedin:hover {
		border: 2px solid var(--myBlack);
		background: var(--iconBlue);

		& span {
			background: var(--iconBlue);
			color: var(--myBlack);
		}
	}

	& .mailIcon:hover {
		border: 2px solid var(--myBlack);
		background: var(--iconRed);

		& span {
			background: var(--iconRed);
			color: var(--myBlack);
		}
	}

	& .github:hover {
		border: 2px solid var(--myWhite);
		background: var(--myBlack);
		color: var(--myWhite);

		& span {
			background: var(--myBlack);
			color: var(--myWhite);
		}
	}
}

mat-form-field,
mat-label,
mat-hint {
	color: var(--myBlack);
}

mat-label,
mat-hint {
	text-transform: capitalize;
	font-weight: 500;
}

.ng-pristine.ng-valid {
	width: 280px;
}

@media screen and (max-width: 900px) {
	.footerCol {
		width: 50%;
		margin: 0 0 1.6rem 0;
	}

	.ng-pristine.ng-valid {
		width: 160px;
	}

	.footers {
		padding: 0;
	}

	form {
		width: 100%;
	}

}
