.card {
	margin: 5% 3%;
	padding: 1rem;
	border-radius: 0.5rem;
	background: var(--myWhite);
	box-shadow: 0 0 1rem var(--myPurple);
	transition: all 0.5s ease-in-out;
}

.card:hover {
	box-shadow: 0 0 1rem var(--myPurpleShadow);
}

.cadastro-form {
	flex-direction: column;
	display: flex;

	& h2 {
		margin: 1rem 0 1rem 0;
	}
}

.dadosBase {
	display: flex;
	flex-wrap: wrap;

	.dadosIdent {
		flex: 1;
		flex-direction: column;

		& mat-form-field {
			width: 80%;
		}
	}

	.dadosMedico {
		flex: 1;

		& mat-checkbox {
			margin: 0 0 0.8rem 0;
			text-decoration: underline;
			text-transform: capitalize;
			letter-spacing: 0.1rem;
			font-weight: bold;
			color: var(--myBlack);
		}

		& mat-accordion {
			background: var(--myWhite);
			text-transform: capitalize;
			text-decoration-thickness: 2px;
			text-decoration-color: var(--myPurpleShadow);
		}

		& mat-expansion-panel-header {
			box-shadow: 0 0 0.8rem var(--myPurpleShadow);
		}

		& mat-panel-description {
			color: var(--midRed);
		}

		& .tel {
			margin: 1rem 0 0 0;
		}

		& mat-form-field {
			width: 90%;
		}

		& .password {
			cursor: pointer;
		}

		& .password:hover {
			color: var(--myPurpleShadow);
		}
	}
}

.medico {
	display: flex;
	flex-direction: column;

	& mat-form-field {
		width: 40%;
	}
}

h2,
mat-form-field,
mat-label {
	color: var(--myBlack);
	letter-spacing: 0.1rem;
	text-transform: capitalize;
}

mat-form-field {
	font-style: italic;
}

mat-expansion-panel {
	box-shadow: 0 0 5rem var(--myPurpleShadow);
	background: var(--myWhite);

	& mat-panel-title {
		color: var(--myBlack);
		font-weight: bold;
	}
}

input {
	letter-spacing: 0.1rem;
	font-size: larger;
}

.cadastar {
	box-shadow: 0 0 0.2rem var(--myPurpleShadow);
	background: var(--myPurple);
	color: var(--myBlack);
	border: 1px solid var(--myBlack);
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	border-radius: 5px;
	padding: 0.5rem;
	font-size: medium;
	font-weight: bold;
	margin: 0 40%;
	transition: all 0.5s ease-in-out;
}

.cadastar:hover {
	box-shadow: 0 0 0.8rem var(--myLogo);
}

@media screen and (max-width: 1365px) {
	.card {
		margin: 5% 10%;
		width: 80%;
		height: 80%;
	}

	.cadastar{
		margin: 2rem 2rem 0 2rem;
	}
}
