<div class="card">
	<form class="cadastro-form" #usuario="ngForm" (ngSubmit)="cadastrar(usuario.value)">
		<h2>Cadastro de {{user}}</h2>
		<div class="dadosBase">
			<div class="dadosIdent">
				<mat-form-field appearance="outline">
					<mat-label>nome:</mat-label>
					<input type="text" matInput name="nome" ngModel required minlength="2" />
				</mat-form-field>
				<br>
				<mat-form-field class="tel" appearance="outline">
					<mat-label>telefone</mat-label>
					<input type="text" matInput ngModel name="telefone" required />
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>e-mail</mat-label>
					<input type="text" matInput name="email" ngModel required />
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Senha:</mat-label>
					<input matInput [type]="showPassword ? 'text' : 'password'" name="senha" minlength="5" ngModel required>
					<span class="material-icons password" matSuffix (click)="togglePasswordVisibility()">
						{{showPassword?'visibility_off':'visibility'}}
					</span>
				</mat-form-field>
			</div>
			<div class="dadosMedico ">
				<mat-checkbox color="primary" labelPosition="before" #value="" (change)="crmInput($event)">
					possui CRM?
				</mat-checkbox>
				<mat-accordion>
					<mat-expansion-panel hideToggle (opened)="panelOpenState()" (closed)="panelOpenState()"
						[disabled]="check">
						<mat-expansion-panel-header>
							<mat-panel-title>
								dados médicos
							</mat-panel-title>
							<mat-panel-description>
								<span class="material-icons" matSuffix>
									{{expand}}
								</span>
							</mat-panel-description>
						</mat-expansion-panel-header>
						<br>
						<mat-form-field appearance="outline">
							<mat-label>CRM:</mat-label>
							<input type="text" matInput ngModel name="crm" disabled="{{disable_crm}}" required />
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>Especialidade:</mat-label>
							<input type="text" matInput name="especialidade" ngModel disabled="{{disable_crm}}" required />
						</mat-form-field>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
		<input class="cadastar" mat-button color="primary" value="cadastrar" type="submit">
	</form>
</div>
