.card {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 90%;
	max-height: 45rem;
	margin: 0 0 5rem 0;
}

full-calendar {
	width: 100%;
	max-height: 35rem;
}

td {
	padding: 2px 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
