@import 'swiper/scss';
@import 'swiper/scss/pagination';
@import 'swiper/scss/navigation';

.carrosel {
	margin: 3% 0;
	height: auto;
	width: auto;
}

.swiper {
	width: 90%;
	height: auto;

	& img {
		border: 1px solid var(--myBlack);
		border-radius: 5px;
		width: 100%;
		height: 100%;
	}
}

.swiper-button-next,
.swiper-button-prev {
	color: var(--myWhite);
	opacity: 50%;
	width: 70px;
	height: 70px;
	border-radius: 100%;

}

.swiper-pagination-bullet-active {
	background: var(--myWhite);
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
}

.cardEsquerda {
	border: 2px solid var(--myBlack);
	background-color: var(--myWhite);
	display: flex;
	color: var(--myBlack);

	flex-direction: column;
	box-shadow: 0 0 0.5rem var(--myBlack);
	margin: 1rem 3rem 1rem 5rem;
	width: auto;

	& .content,
	mat-card-subtitle {
		background-color: var(--myWhite);

		color: var(--myBlack);
		flex-wrap: wrap;
		word-wrap: break-word;
	}

	.content {
		font-size: medium;
	}
}

@media (max-width:900px) {
	.carrosel{
		margin: 5% 0;
		width: 100%;
		height: 8rem;
	}
	.cardEsquerda{
		margin: 10% 5% 5% 5%;
	}
}
