<div class="home">
    <mat-card class="cardDireita">
        <mat-card-title>
            <h1>Grupo Origami Saude</h1>
        </mat-card-title>
        <mat-card-subtitle>
            Um grupo com motivação e empenho em cuidar de você
        </mat-card-subtitle>
        <img class="imgDoctor" src="{{doctor}}" alt="doctor">
    </mat-card>
    <mat-card class="cardEsquerda">
        <mat-card-title>
            <h1>titulo outro card</h1>
        </mat-card-title>
        <mat-card-subtitle>
            subititulo
        </mat-card-subtitle>
        <mat-card-content>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quidem consectetur ea impedit iure mollitia eum at odio natus magni expedita, velit dignissimos harum reprehenderit veritatis eligendi dolorum odit delectus!Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam aperiam quibusdam tempore aliquam temporibus consectetur non voluptatum accusamus cumque illum, inventore doloremque quas dicta incidunt totam deserunt facere sunt rem? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore incidunt minus consequuntur assumenda, vel odit porro expedita quis odio iusto placeat laudantium officia esse nesciunt ea vitae eos saepe non.</p>
        </mat-card-content>
    </mat-card>
</div>
