/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	& .swal-wide {
		min-width: 15% !important;
	}
}

:root {
	--midRed: #ff0000;
	--myRedShadow: rgb(204, 41, 41);

	--myPurple: #074071;
	--myPurpleShadow: #6595BF;

	--myLogo: #38d5d8;

	--myBlack: #e7e7e7;
	--myWhite: rgb(53, 53, 53);
	--myGray: rgba(77, 74, 74, 0.185);

	//icon style
	--iconWhite: rgb(245, 241, 241);
	--iconBlue: rgb(22, 22, 255);
	--iconRed: rgb(255, 0, 0);
}

:root .dark-theme {
	--midRed: #cb0404;
	--myRedShadow: rgb(99, 0, 0);

	--myPurple: #52c1ed;
	--myPurpleShadow: #2477BF;

	--myLogo: #005d5f;

	--myBlack: #232323;
	--myWhite: #ece9e9;
	--myGray: #6767672c;
	//icons style

	--iconWhite: rgb(245, 241, 241);
	--iconBlue: rgb(25, 25, 216);
	--iconRed: rgb(170, 3, 3);
}

html,
body {
	line-height: 1.6rem;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	transition: all 0.5s ease-in-out;
}

::ng-deep .mat-input-element::placeholder {
	color: var(--myLogo);
}

::ng-deep .fc-event {
	cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
	height: 1.5rem;
	width: 1.5rem;
}

::-webkit-scrollbar-track {
	background-color: var(--myGray);
}

::-webkit-scrollbar {
	width: 0.7rem;
	border: 1px solid var(--myBlack);
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: var(--myPurpleShadow);
}
