<app-loading></app-loading>
<mat-toolbar>
    <img class="logo" src="{{logo}}" alt="logo" routerLink="" (click)="open=!open">
    <h1 routerLink="">origami saúde</h1>
    <button class="menu" mat-icon-button (click)="open=!open">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="open" position="end">
        <ul class="links">
            <li><a mat-button routerLink="">
                    <span class="material-icons">
                        home
                    </span>
                </a></li>
            <li><a mat-button routerLink="cadastro">cadastro</a></li>
            <li>
                <a mat-button routerLink="agenda">
                    <span class="material-icons">
                        date_range
                    </span>
                </a>
            </li>
            <li>
                <a mat-button routerLink="about">
                    <span class="material-icons">
                        help
                    </span>
                </a>
            </li>
            <li>
                <a mat-button routerLink="user">
                    <span class="material-icons">
                        account_circle
                    </span>
                </a>
            </li>
            <li>
                <a mat-button routerLink="login" (click)="logout()">
                    <span class="material-icons">
                        logout
                    </span>
                </a>
            </li>
            <li>
                <a mat-button (click)="themeMode()">
                    <span class="material-icons mode">
                        {{mode}}
                    </span>
                </a>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
